---
---

<footer class="bg-gray-800 text-gray-200 py-6 mt-16">
    <div class="max-w-7xl mx-auto px-4 text-center">
      <p class="text-sm">
        2025 <span class="font-semibold">Academia USA Voleibol</span>. Todos los derechos reservados.
      </p>
    </div>
  </footer>