---
import Navbar from "./Navbar.astro"
import HeroLogo from "@/components/HeroLogo.astro"
---
<section
  <main>
  <Navbar/>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

  </main>
</section>