---
---
<nav class="bg-brandBlack text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
      <a href="/" class="flex items-center space-x-2">
        <img src="/public/logo.jpg" alt="All Out Volleyball Logo" class="h-10 w-auto" />
      </a>
  
      <ul class="flex items-center space-x-8 font-medium">
        <li>
          <a href="/" class="hover:text-neonPink transition-colors">INICIO</a>
        </li>
        <li class="relative group">
          <a href="/camps" class="hover:text-neonPink transition-colors">CLÍNICS</a>
          <ul
            class="absolute left-0 mt-2 bg-brandBlack text-white border border-gray-700 p-2 hidden group-hover:block"
          >
            <li><a href="/camps/summer" class="block px-3 py-1 hover:text-neonPink">SOBRE LOS CLINICS</a></li>
            <li><a href="/camps/winter" class="block px-3 py-1 hover:text-neonPink">CALENDARIO</a></li>
          </ul>
          
        </li>
        <li class="relative group">
          <a href="/about" class="hover:text-neonPink transition-colors">INFORMACIÓN</a>
          <ul
            class="absolute left-0 mt-2 bg-brandBlack text-white border border-gray-700 p-2 hidden group-hover:block"
          >
            <li><a href="/about/team" class="block px-3 py-1 hover:text-neonPink">NUESTRO EQUIPO</a></li>
            <li><a href="/about/history" class="block px-3 py-1 hover:text-neonPink">SOBRE AUSAVB</a></li>
            <li><a href="/about/history" class="block px-3 py-1 hover:text-neonPink">CALENDARIO DE AVIE</a></li>
            <li><a href="/about/history" class="block px-3 py-1 hover:text-neonPink">CONTACTO</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  