---
const { children } = Astro.props;
import Navbar from '../sections/Navbar.astro';
import Footer from '../sections/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academia USA Voleibol</title>
  </head>
  <body class="font-sans leading-normal text-gray-700 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500">
    <!-- Navbar -->
    <Navbar />

    <!-- Contenido dinámico -->
    <main class="min-h-screen">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>